In [1]:
import numpy as np 
import pandas as pd
import sys
import matplotlib.pyplot as plt

In [ ]:
mydir = '/Users/eric/Documents/CDS465/' #### change here

pysrc = mydir + 'pysrc/'
datadir = mydir + 'data/'
popdir = mydir + 'population/'
folderpath = mydir + 'archieve/Dev_P1/BASE_DATA/' #### change here

sys.path.append( pysrc )

import Main2
import initialization as initf

In [3]:
E = Main2.Realm(datadir)
E.ReadAll(popdir + 'pop3_6.db')

In [4]:
E.loc_gen_dict = {'farming': (5,25,10),'mining': (5,25,12),'energy': (0,50,20),'manufacturing': (5,100,50)}
E.folderpath = folderpath
E.InitializeMM()
#E.initfQuickLook(5)

In [5]:
qa_sandbox_orders = E.initfSimulateOrders()

In [7]:
E.initfCalcCostProfit(qa_sandbox_orders)

,order_id,account_payable,order_date,product_id,product_quantity,manufacture_time,ship_by,manufacture_cost,resource_id,resource_quantity,resource_cost,cost,sales_tax,profit
0,o000001,12625.0,8200,p000307,505,1,8201,1.34,"[r100013, r100001]","[1, 1]","[16.14, 5.51]",11609.95,757.5,257.55
1,o000002,243450.0,8200,p000116,541,2,8202,52.79,"[r100001, r100002, r100003, r100004, r100008]","[5, 3, 1, 20, 1]","[5.51, 13.0, 7.5, 5.0, 100.0]",176820.44,14607.0,52022.56
2,o000003,288600.0,8200,p000319,481,2,8202,112.66,"[r100001, r100011, r100014, r100015]","[3, 10, 2, 2]","[5.51, 20.0, 45.0, 5.92]",207325.43,17316.0,63958.57
3,o000004,1064.0,8200,p000428,266,1,8201,0.02,[r200006],[2],[1.89],1010.8,63.84,-10.64
4,o000005,50540.0,8200,p000010,722,1,8201,9.26,"[r000005, r000007]","[2, 1]","[7.0, 9.68]",23782.68,3032.4,23724.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,o000096,22120.0,8200,p000119,316,2,8202,8.39,"[r100001, r100002, r100003, r100004]","[3, 1, 1, 1]","[5.51, 13.0, 7.5, 5.0]",15932.72,1327.2,4860.08
96,o000097,1482.0,8200,p000410,494,1,8201,0.00,[r200003],[1],[3.0],1482.0,88.92,-88.92
97,o000098,505200.0,8200,p000313,421,2,8202,229.59,"[r100001, r100011, r100012, r100014, r100015]","[10, 16, 2, 3, 1]","[5.51, 20.0, 55.0, 45.0, 5.92]",360211.81,30312.0,114676.19
98,o000099,255000.0,8200,p000122,510,2,8202,21.39,"[r100001, r100003, r100004, r100005]","[6, 4, 45, 5]","[5.51, 7.5, 5.0, 28.13]",229551.0,15300.0,10149.0
99,o000100,33320.0,8200,p000010,476,1,8201,9.26,"[r000005, r000007]","[2, 1]","[7.0, 9.68]",15679.44,1999.2,15641.36

In [11]:
E.initfQuickLook(5)

mm_product_master
product_id           object
manufacture_id       object
manufacture_time      int64
manufacture_cost    float64
product_count         int64
location_coord       object
dtype: object
  product_id manufacture_id  manufacture_time  manufacture_cost  \
0    p000001        m000001                 1              2.48
1    p000004        m000004                 2              8.30
2    p000007        m000007                 1              6.40
3    p000010        m000010                 1              9.26
4    p000013        m000013                 1              4.97

   product_count    location_coord
0              0   (1376.0, 736.0)
1              0   (1440.0, 736.0)
2              0  (1120.0, 1312.0)
3              0   (1376.0, 736.0)
4              0  (1120.0, 1312.0)

mm_manufacture_master
manufacture_id       object
resource_id          object
resource_quantity     int64
dtype: object
  manufacture_id resource_id  resource_quantity
0        m000001     r000001                  1
1        m000001     r000002                  1
2        m000004     r000003                  2
3        m000004     r000004                  1
4        m000007     r000005                  2

mm_resource_master
resource_id         object
resource_cost      float64
resource_count     float64
resource_inputs     object
location_coord      object
dtype: object
  resource_id  resource_cost  resource_count resource_inputs    location_coord
0     r000001          14.37             0.0       (1, 1, 1)  (1184.0, 1184.0)
1     r000002           8.21             0.0       (0, 1, 1)    (736.0, 992.0)
2     r000003          17.50             0.0       (0, 1, 1)    (736.0, 672.0)
3     r000004          13.50             0.0       (0, 1, 1)    (800.0, 928.0)
4     r000005           7.00             0.0       (1, 1, 1)    (928.0, 992.0)

mm_location_master
location_coord                object
domain                        object
subdomain                     object
location_energy                int64
required_personelle_num        int64
required_personelle_types     object
manufacture_capacity           int64
balance                      float64
dtype: object
   location_coord    domain subdomain  location_energy  \
0  (736.0, 992.0)  resource   farming               -1
1  (800.0, 928.0)  resource   farming               -1
2  (672.0, 736.0)  resource   farming               -1
3  (482.0, 802.0)  resource   farming               -1
4  (736.0, 672.0)  resource   farming               -1

   required_personelle_num required_personelle_types  manufacture_capacity  \
0                       10                       NaN                     0
1                       10                       NaN                     0
2                       10                       NaN                     0
3                       10                       NaN                     0
4                       10                       NaN                     0

    balance
0  100000.0
1  100000.0
2  100000.0
3  100000.0
4  100000.0

mm_books
location_coord     object
period_s            int64
period_e            int64
balance_s         float64
balance_e         float64
period_income     float64
sales_tax         float64
dtype: object
   location_coord  period_s  period_e  balance_s  balance_e  period_income  \
0  (736.0, 992.0)         1         3   100000.0        0.0            0.0
1  (800.0, 928.0)         1         3   100000.0        0.0            0.0
2  (672.0, 736.0)         1         3   100000.0        0.0            0.0
3  (482.0, 802.0)         1         3   100000.0        0.0            0.0
4  (736.0, 672.0)         1         3   100000.0        0.0            0.0

   sales_tax
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

mm_order_master
order_id               object
product_id             object
product_quantity        int64
order_date              int64
ship_to                object
ship_by                 int64
account_receivable    float64
order_status            int64
dtype: object
Empty DataFrame
Columns: [order_id, product_id, product_quantity, order_date, ship_to, ship_by, account_receivable, order_status]
Index: []

mm_employee_master
location_coord     object
pid                 int64
wage              float64
dtype: object
   location_coord    pid  wage
0  (482.0, 802.0)  71048   0.0
1  (482.0, 802.0)  74375   0.0
2  (482.0, 802.0)  77807   0.0
3  (482.0, 802.0)  66323   0.0
4  (482.0, 802.0)  80306   0.0

```python
### all functions called from ops package should be stored in the python sctipt operations.py 

import operations as ops

def EvolveMM2(self, Nmonths, addpeep, dometh, migrate=False):
        """The Realm.Evolve function that has been revamped to model MM processes"""
        for i in range( Nmonths ):
            ops.preopsMM(self, initfSimulateOrders())

            self.Evolve(self, 1, addpeep, dometh, migrate)

            ops.postopsMM(self, initfCalcCostProfit())